$dark-color: #1f1f1f;
$dark-font: #ffffff;
$dark-border: #3e3e3e;
$dark-button: #3d3d3d;
$logo-red-cololr: #ff1277;

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

body {
  margin: 0 auto;
  background-color: $dark-color;
  font-family: 'Noto Sans', sans-serif;
  max-width: 1198.98px;
  &:focus {
    outline: none;
  }
}


input {
  background-color: black;
  border: 1px solid $dark-border;
  color: white;
  &:focus {
    outline: none;
  }
}

button {
  background-color: $logo-red-cololr;
  border: 1px solid $dark-border;
  color: white;
  &:hover {
    background-color: $dark-button;
    color: black;
  }
  &:focus {
    outline: none;
  }
}

div {
  &:focus {
    outline: none;
  }
}

.styledTetris {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  max-width: 900px;

    aside {
        width: 100%;
        max-width: 200px;
        display: block;
        padding: 0 20px;
    }
}

// NAVBAR
.navbar {
  p {
    font-size: 3em;
    font-family: 'Press Start 2P', cursive;
    margin-left: auto !important;
    margin-right: auto !important;
    }
  a {
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  p:nth-child(1) a {
    color: #FF1177;
    font-family: 'Press Start 2P', cursive;
  }
  
  p:nth-child(1) a:hover {
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
  }
  
  p a:hover {
    color: #ffffff;
  }
  /*glow for webkit*/
  
  @-webkit-keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  @-moz-keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
  @keyframes neon3 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
    }
  }
}

// LOBBY
.lobby {
  padding: 40px;
  color: $dark-font;
  tr:nth-child(even) {background-color: $dark-border;}

  
  table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid $dark-border;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px !important;
  }
  th {
    text-align: center;
    height: 50px;
    font-weight: bold;
    
  }
  th.room {
    width: 80px;
  }
  th.host {
    width: 100px;
  }
  tr td {
    text-align: center;
  }
  .create {
    position: relative;
  }
}

//userInfo

.userInfo { 
  display: table;
  background-color: white;
  border: 2px solid #333;
  width: 372px !important;
  height: 655px !important;
  min-width: 372px;
  max-width: 372px;
  background: #111;
  text-align:center;
  .userInfoForm {
    display: table-cell;
    vertical-align: middle;
  }
}

.playerInfo {
  position: relative;
  height: 30px;
  margin-bottom: 4px;
  width: 375px !important;
  border: solid 2px white;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: $logo-red-cololr;
  color: $dark-font;
  padding-left: 10px;
}

.board{
  display: grid;
    grid-template-rows: repeat(
        20,
        12px
    );
    grid-template-columns: repeat(
        12,
        12px
    );
    grid-gap: 1px;
    border: 2px solid #333;
    border-top: none;
    width: 144px;
    max-width: 144px;
    background: #111;
}